[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
scikit-learn = "*"
uvicorn = {extras = ["standard"], version = "*"}
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
